
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
    
}

html {
    font-family: 'Bebas Neue', cursive;
    transition: 1s;
    
}

.celastranka{
    height: 100vh;
    width: 100vw;
    background-image: url(./IMG/entertainment-prague-nightlife-casinos-1-1280x827-CC.jpg);
    background-size: cover;
    
}


.banner{
    height: 15vh;
    width: 70vw;
    background: linear-gradient(rgb(69, 25, 25),rgb(135, 19, 19),rgb(110, 32, 32),rgb(69, 25, 25));
    position: relative;
    top:2vh;
    left:15vw;
    border:8px solid black;   
}



.nadpis{
    
    text-align: center;
    font-size: 4vw;
    color:gold;
    position:relative;
    top: 1.5vh;
}

.herniplocha{
    height: 70vh;
    width: 70vw;
    background: linear-gradient(rgb(69, 25, 25),rgb(135, 19, 19),rgb(110, 32, 32),rgb(69, 25, 25));
    position: relative;
    top:8vh;
    left:15vw;
    border:8px solid black;
}

.hraccelkem {
    
    background: linear-gradient(black, gray, black);
    font-size: 2.5vw;
    font-weight: bold;
    color: lightyellow;
    border:3px solid black;
    border-radius: 1.8vw;
}

.hraccelkem p:nth-of-type(2) {
    font-size: 4vw;
    text-align: center;
    color: gold;
}

.hraccelkem1 {
    position:absolute;
    top: 4vh;
    left:5vw;
}

.hraccelkem2 {
    
    position:absolute;
    top: 4vh;
    right:5vw;
}

.hracaktualne {
    
    background: linear-gradient(rgb(69, 25, 25),rgb(135, 19, 19),rgb(110, 32, 32),rgb(69, 25, 25));
    font-size: 1.8vw;
    font-weight: bold;
    color: lightyellow;
    border:3px solid black;
    
}

.hracaktualne p:nth-of-type(2) {
    font-size: 3vw;
    text-align: center;
    color: rgb(233, 240, 129);
}

.hracaktualne1 {
    position:absolute;
    bottom: 28vh;
    left:7vw;
}

.hracaktualne2 {
    
    position:absolute;
    bottom: 28vh;
    right:7vw;
}



.tlacitka {
    
    position: absolute;
    top: 32vh;
    left: 28.5vw;
    font-size: 2.8vw;
    color: darkgrey;
    
}

.tlacitka p {
    
    text-align: center;
}

.btn {
    border: 2px solid black;
    border-radius: 1.5vw;
    background: black;
    margin-bottom: 2vh;
    padding: 0.4vw 0.8vw;
    transition:0.9s;
}

.btn:hover {
    
    background: grey;
    color:black;
    font-size: 3vw;
    cursor: pointer;
}

.btn:active{
    
    background: red;
} 

.kostka{
    
    position:absolute;
    top:6vh;
    left:29.7vw;
} 